<!DOCTYPE html>
<html>
  <head>
    <title>
      Welcome to <h2 style="font-size: 20px; font-weight: 900; font-family:
      Inter; color: #002D8B;"> You<span style="color: #0394D5;">Fix</span> </h2>
    </title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
      }

      h1 {
        color: #002D8B;
      }
      .happy{
        color: #0394D5;
        font-weight: 500;
      }

      p {
        color: black;
      }
    </style>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>
    <p>We are thrilled to welcome you to our<h2 style="font-size: 15px; font-weight: 900; font-family:
        Inter; color: #002D8B;">You<span style="color: #0394D5;">Fix</span> </h2>!</p>
    <p>Thank you for choosing to join our community. We strive to provide a seamless and enjoyable experience for all our users and we're dedicated to supporting you every step of the way.
    </p>
    <p class="happy">Happy coding!</p>
  </body>
</html>
